/* styles for the elements used */

.crystal-image {
      width: 95px;
      height: 95px;
    }

.dora{
	width: 250px;
	height: 200px;
	float: right;
	padding-top: 40px;
	padding-right: 170px;
	position: relative;
}

body{
	background:url(https://i.stack.imgur.com/8IjyR.gif);

  }

#description {
	background-color: #E0A4FF;
	word-wrap: break-word;
	opacity: 0.95;

  }

  #title{
  	color:#B9067A;
  	float:center;
  }

  #random{
  	color:#B9067A;
  }
